<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4주차과제_김희원</title>
</head>
<body>
    <h1>내가 구현하고 싶은 서비스</h1>
    <h2>김희원</h2>
    <p>유튜브 콘텐츠에 대한 의견 제시 커뮤니티 서비스</p> 
    <ul>
        <li>유튜브는 방송 심의가 있는 TV 프로그램들과는 달리 엄격하게 통제되지 못해 계속해서 유해 콘텐츠들이 업로드되고 있다.</li>
        <li>따라서, 기존 TV 프로그램에 대한 '시청자 게시판' 기능이 유튜브에도 있으면 좋을 것 같다고 생각하게 되었다.</li>
        <li>사용자는 유튜브 링크를 첨부해 다른 사용자들과 논의하고싶은 부분을 명시할 수 있고, 게시된 논의점에 대해 커뮤니티 사용자들은 
            모두 토론에 참여하여 자신의 의견을 제시할 수 있다. 
        </li>
        <li>또한, 사용자가 커뮤니티 서비스를 처음 이용할 때에 '사용자(콘텐츠 소비자) 유형 테스트'를 하게끔 유도하여 사용자를 유형화한다. </li>
    </ul>

</body>
</html>